
.notify{
    
    border: 1px solid #efefef;
    min-width: 300px;
    border-radius: 4px;
    -moz-box-shadow: 10px 10px 5px #888888; /* 老的 Firefox */
    box-shadow: 10px 10px 5px #888888;
    padding: 3px;
    margin: 2px;
    position: relative;
    background:rgba(255,255,255,.85);
    /* right: 1%; */
    /* z-index: -1000; */
    -moz-transition:ease-out .2s;
    -o-transition:ease-out .2s;
    -webkit-transition:ease-out .2s;
    transition:ease-out .2s;
}

.notify:hover{
    transform: scale(1.1);
    -ms-transform: scale(1.1); 	
    -moz-transform: scale(1.1); 	
    -webkit-transform: scale(1.1); 
    -o-transform: scale(1.1);
}

.notify-head{
    border-bottom: 1px solid #efefef;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 3px;
    max-width: 100%;
    font-size: .875rem;
    pointer-events: auto;
    line-height: 1.5;
    color: brown;
    display: flex;
}

.notify-head>h3{
    font-size: 14px;
}

.notify-body{
    padding-top: 3px;
    padding-right: 5px;
    padding: 5px;
    color:#017bb8;
}

.notify-text{
    font-size: 14px;
}

.color-blue{
    position: absolute;
    width: 10px;
    height: 10px;
    margin:0px;
    margin-top: 5px;
    background-color: #017bb8;
    border-radius: 5px;
    display: block;
}



.rotate{
    -moz-transition:ease-out .4s;
    -o-transition:ease-out .4s;
    -webkit-transition:ease-out .4s;
    transition:ease-out .4s;
    　　transform:rotate(0deg);
    -ms-transform:rotate(0deg); 	/* IE 9 */
    -moz-transform:rotate(0deg); 	/* Firefox */
    -webkit-transform:rotate(0deg); /* Safari 和 Chrome */
    -o-transform:rotate(0deg);

}

.my-btn {
    cursor: pointer;
    border: 1px solid gray;
    -moz-transition:ease-out .2s;
    -o-transition:ease-out .2s;
    -webkit-transition:ease-out .2s;
    transition:ease-out .2s;
    border-bottom: 1px solid #efefef;
    border-top: 1px solid #efefef;
}


.my-btn:hover {
    

    border: 2px solid #fff;
    cursor: pointer;
    background-color: #017bb8;
    color: #fff;
    transform: scale(1.1);
    -ms-transform: scale(1.1); 	
    -moz-transform: scale(1.1); 	
    -webkit-transform: scale(1.1); 
    -o-transform: scale(1.1);
}
.my-btn>button:focus {
    border: 3px solid white;
    border-radius: 10px;

    outline: none;
}

.my-btn:focus {
    border: 3px solid white;
    border-radius: 10px;
}
.my-btn:active {
    
    
    border: 8px solid white;
    border-radius: 15px;
    font-size: 14px;
    font-size: 14px;
    cursor: pointer;
}

.rotate:hover {
    
    transform:rotate(45deg);
    -ms-transform:rotate(45deg); 	/* IE 9 */
    -moz-transform:rotate(45deg); 	/* Firefox */
    -webkit-transform:rotate(45deg); /* Safari 和 Chrome */
    -o-transform:rotate(45deg);
}

span.dissmiss{
    /* float: right; */
    margin-left: 70%;
}

span.dissmiss:hover{
    /* float: right; */
    /* font-size:14px; */
    cursor: pointer;
    border: 8px solid white;
}

.typein {
    max-width: 290px;
    border-radius: 8px;
    height: 25px;
    background: #ffffff;
    color:#4f4f4f;
    font-weight: 100;
    font-size: 14px;
    border: 1px solid #00A8fc;
    border-bottom: 2px solid #00A8fc;
    
    border-radius: 10px;
    min-height: 15px;
    min-width: 10px;


    -moz-transition:ease-out .2s;
    -o-transition:ease-out .2s;
    -webkit-transition:ease-out .2s;
    transition:ease-out .2s;
}

input.typein:focus {
    border: 0 solid #00A8fc;
    border-right: 4px solid #00A8fc;
    color:#000;
    right: 2%;
    margin-right: 4px;
    outline: none;
    border-bottom: 1px solid #00a8fc;
    padding-right: 4px;
    font-size: 24px;
}
