
<div>
<h6 class="card-title">{{ .ID }}</h6>
{{ if eq .State  "Finished" }}
<span class="badge bg-success">{{ .State }}</span>
{{ else }}
<span class="badge bg-warning">{{ .State }}</span>
{{ end }}
<span class="badge bg-primary">{{ .LogSize }}</span>
<span class="badge bg-primary">{{ .LogLast }}</span>
<!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
<ul class="list-group list-group-flush">
    {{ range .Args }}
        <li class="list-group-item">
            <div class="callout-info sm-callout ">
                <code>{{ . }}</code>
            </div>
        </li>
    {{ end }}
</ul>
{{ range $i,$v := .Kargs }}
<div class="input-group mb-3">
    <input type="text" class="form-control" value="{{ $v }}" aria-label="Recipient's username" aria-describedby="basic-addon2">
    <span class="input-group-text" id="basic-addon2">{{ $i }}</span>
</div>
{{ end }}

</div>
    